body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 40px;
}

h1 { color: #38bdf8; }

.card {
  background: #1e293b;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
}

a { color: #38bdf8; text-decoration: none; }

.button {
  display: inline-block;
  padding: 10px 15px;
  background: #38bdf8;
  color: black;
  border-radius: 8px;
  margin-right: 10px;
}

.secondary { background: gray; }
